DEV
.DS_Store
~$*
*~
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.thm
*.toc
*.etoc
*.lof
*.lot
*.loe
*.equEN
*.lofEN
*.lotEN
*.vrb
*.hd
*.fdb_latexmk
*.fls
*.htm
*.html
.Rproj.user
.Rhistory
*.gz(busy)
*.gz
*.equ
CQUNeedsTeX.pdf
zhmakeindex.exe